body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(170, 169, 169);
    margin: 0;
    padding: 0;
  }

  .navbar {
    display: flex;
    width: 100%;
    box-shadow: 0 0 5px black;
    text-align: center;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #eee4ab;
    margin:  0px;
    padding: 5px 30px;
    width: auto;
    box-shadow: 0 0 5px #eee4ab;
  }

  .hr {
    display: flex;
    align-items: center;
  }

  hr {
    width: 30px;
    height: 1px;
    background: black;
    margin: 0 15px;
  }

  h2 {
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
  }

  .mission-txt {
    font-size: 18px;
    font-weight: 500px;
    font-style: italic;
    margin-top: 0;
  }

  /* div img {
    width: 150px;
    filter: drop-shadow(0 10px 5px black);
  } */

  p {
    text-align: justify;
  }

  .faculties {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  /* .unit {
    margin: 25px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  } */

  /* .unit img {
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  } */

  .unit p {
    text-align: left;
    margin: 2px;
  }

  .unit p:first-of-type {
    font-weight: bolder;
    margin-bottom: 5px;
  }

  @media screen and (max-width:820px) {
    .wrapper {
      width: 80%;
      padding: 5px 30px;
    }
  }


  .body
  {
      height:100vh;
      /* background-color: #0b0c10 */
  }
  .imgcon{
      position: relative;
  }
  .styll
  {
      height:200px;
      width: 200px;
      margin-top:20px;
      margin-bottom: 20px;
      margin-left:37px;
      margin-right:37px;
      border-radius: 50%;
      display: block;
  }
  .overlayy{
      position: absolute;
      top: 0px;
      left: 37px;
      height: 200px;
      width: 200px;
      border-radius: 60%;
      background-color: rgba(0, 0, 0,0.7);
      opacity: 0;
      transition: .3s ease;
  }
  .imgcon:hover .overlayy{
      opacity: 1;
  }
  .iconn{
      position: absolute;
      top: 80px;
      left: 80px;
      width: 40px;
      transition: .3s ease;
  }
  .hh{
      background-color: #0b0c10;
      border: none;
  }
  .titll_1{
      background-color: #0b0c10;
      color: rgb(135, 221, 224);
      text-align: center;
      font-size: 30px;
      margin-top: 40px;
  }
  .titll{
      background-color: #0b0c10;
      color: rgb(135, 221, 224);
      text-align: center;
      font-size: 30px;
      
  }
  .tit{
      color: #ffffff;
  }
  .navbar,
  .footer {
    background-color: #1f2833;
    color: #ffffff;
    position:fixed;
  }
  .navbar{
      top:0;
      right: 0;
      left: 0;
      z-index: 1;
  }
  .hehe{
      z-index:0; 
  }
  .box
  {   
      width: 100%;
      /* height: 100%; */
      background-color: #0b0c10;
      display: flex;
      justify-content: center;
      flex-direction: row;
     
  }
  /* .box0
  {   
      
      
      
  }
  .box1
  {   
      
      
  }
  .box2
  {   
      
      
  } */
  .obox
  {
      display: flex;
      justify-content: center;
  }
  .cont
  {
      width:100%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      background-color: #0b0c10;
     
  }
  @media(max-width:1200px)
  {
      .box
      {
          flex-direction: column;
          align-items: center;
      }
      .styling
      {
          margin-bottom: 46px;
          margin-top:46px;
      }
  }
  @media (max-width: 700px) {
      .box
      {
          flex-direction: column;
          align-items: center;
      }
      .obox
      {
          flex-direction: column;
          align-items: center; 
      }
  
  }