/* .column_1{
    background-color: rgb(66, 207, 207);
}
.one{
    font-size: 54px;
    background-color: rgb(153, 168, 64);
    text-align: center;
    justify-content: center;
}
.info{
    width: 0px;
} */
.container-fluid{
    font-size: 20px;
}
.heading{
    font-size: 72px;
    padding-bottom: 20px;
}
body {
    color: rgb(143, 11, 11);
    overflow-x: hidden;
    height: 100%;
    /* background-image: url("https://i.imgur.com/GMmCQHC.png"); */
    background-repeat: no-repeat;
    background-size: 100% 100%
}

.card {
    padding: 30px 40px;
    margin-top: auto;
    /* margin-bottom: 60px; */
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}

.blue-text {
    color: #00BCD4
}

.form-control-label {
    margin-bottom: 0
}

input,
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}

.btn-block {
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-block:hover {
    color: #fff !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}
